* {
	text-align: center;
}

body{
	background-color: #FA8072;
	font-family: Tahoma,Arial, "Helvetica Neue",Helvetica,,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
}

.jumbotron {
	background-color: #FA8072;
	color: #333;
}

#button {
	background-color: royalblue;
	color:white;
}

#burgerName, #customerName {
	font-family: Tahoma, Arial;
	font-weight:bolder;
	font-size: 14px;
}

#devour {
	background-color:#FF5722;
	color:white;
}

.panel-paneldefault {
	color:#FFE082;
	background-color: #FA8072;
}

.lead {
	font-weight:bold;
}
